@import '../fonts/stylesheet.css';

/* font-family: 'Montserrat'; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* ===== header  =======*/


.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    color: #dd4400;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.logo__img{
    margin-right: 22px;
}
.nav-list__link{
    font-size: 16px;
    color: #4e4e4e;
    font-family:'Montserrat';
    font-weight: 400;
    margin-left: 33px;
}
.nav-list__link:hover{
    color: #dd4400;
}
.nav{
    padding: 7px 0;
    box-shadow: 0 0 7px 0px #3a1f0c;
    background: #f8f8f8;
}
.header{
    background: url(../img/bg.png);
    min-height: 570px;
}
/* ===== /header  =======*/
/* Main */
.main{
    padding-top: 50px;
    padding-bottom: 100px;
}
.main-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.main-menu__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 28px 25px 28px;
    /* outline: 1px solid red; */
    box-shadow: 0px 0px 15px 0px #eadcd6;
}
.main-menu__card-title{
    max-width: 168px;
    font-size: 18px;
    font-weight: 700;
    color: #dd4400;
    font-family: 'Montserrat';
    text-align: center;
    line-height: 25px;
    margin-bottom: 45px;
}
.line{
    width: 165px;
    height: 1px;
    background: linear-gradient(to right, transparent, #dd4602, transparent);
    /* box-shadow: 10px 10px 10px 10px black; */
    margin-bottom: 30px;
}
.main-menu__card_link{
    font-family: 'Montserrat';
    font-size: 16px;
    color: #fff;
    padding: 12px 53px;
    background: #dd4400;
    margin-top: 24px;
 

}
.main__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    color: #5e5e5e;
    margin-bottom: 50px;
    /* text-decoration: underline; */
}
.main-left__decription{
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    color: #5e5e5e;
    margin-bottom: 35px;
    max-width: 730px;
    line-height: 25px;
}
.main__link{
    font-family: 'Montserrat';
    font-size: 16px;
    color: #fff;
    padding: 12px 53px;
    background: #dd4400;
    /* margin-top: 24px; */
    display: inline-block;
    margin-top: 15px;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.main__right_link{
    display: inline-block;
    max-width: 155px;
    font-size: 14px;
    color: #dd4400;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 22px;
    /* text-transform: uppercase; */
    text-decoration: underline;
}
.footer__container{
    display: flex;
    justify-content: space-between;
}
.footer{
    padding: 65px 0;
    background: #dd4400;
}
.footer__title{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 400;
    color: #fff;

}
.footer__tel{
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: 400;
    color: #fff;
}
.footer__worktime{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.footer__description{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 25px;
}
.footer__email{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-top: 24px;
}